.vscode/**
.vscode-test/**
.github/**
test/**
.gitignore
.markdownlint.json
.yarnrc
CONTRIBUTING.md
PRODUCT.md
ingestipy_ignore.txt
package-lock.json
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
